body{
  background-image: url(/templates/pics/cont1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  padding: 50px 100px;
  flex-direction: column ;
  align-items: center;
  
}
a:hover{
  color: blueviolet;
}
button{
  color: black;
}
button:hover{
  color: blueviolet;
}
p,li,button{
  font-weight: bold
}
h1{
  color: orange;
}

